.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background-image: url('../public/background_imgs/stacked-waves-haikei.svg');
  background-size: cover;
}

.aboutMeContent {
    display: flex;
    flex: 1;
    max-width: 120rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: .8rem;
  }

  .aboutMeGrid {
    display: flex;
    flex-direction: row;
  }
  
  .aboutMeTxt {
    max-width: 50%;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    background-color: #FFFFFF;
  }

  .aboutMeTxtContent {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: 'Menlo', sans-serif;
    font-size: 1.5rem;
  }
  
  .aboutMeTxtContent div {
    margin-bottom: 2rem;;
  }
  
  .aboutMeTxtContent div p {
    margin: .3rem 0;
    font-size: 2.5rem;
  }

  .aboutMeTxtContent p {
    font-size: 2rem;
  }
  
  .skillsFolder {
    max-width: 50%;
    width: 100%;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    background-color: #FFFFFF;
  }
  
  .skillsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  @media screen and (max-width: 1200px) {
    .aboutMeGrid {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .aboutMeTxt, .skillsFolder {
      max-width: 75%;
      width: 100%;
    }

    .aboutMeTxtContent div p {
      font-size: 2.5rem;
    }
  
    .aboutMeTxtContent p {
      font-size: 2rem;
    }

    .skillsList {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 650px) {
    .aboutMeTxtContent div p {
      font-size: 1.5rem;
    }
  
    .aboutMeTxtContent p {
      font-size: 1.1rem;
    }

  }