.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background-image: url('../public//background_imgs/stacked-peaks-haikei.svg');
    background-size: cover
}

.contactContent {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contactWindow {
    max-width: 60rem;
    width: 100%;
    margin: .8rem;
}

.contactWindowContent {
    padding: 2rem 1rem;
    font-family: 'Menlo', sans-serif;
    background-color: #FFFFFF;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.contactWindowContent h1 {
    font-size: 2rem;
    margin-bottom: .2rem;
}

.contactWindowContent p, .contactForm {
    font-size: 1.2rem;
}

.contactForm {
    margin: 1rem 0rem;
}

.allInputsContainer {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: .5rem 0rem;
}

.inputContainer label {
    margin-bottom: .3rem;
}

.inputContainer input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px #242424 solid
}

.inputContainer textarea {
    resize: none;
    font-family: 'Menlo', sans-serif;
    border: 1px #242424 solid
}

.inputContainer input, .inputContainer textarea{
    padding: .2rem;
    font-size: 1rem;
}

.contactForm button {
    font-size: 1rem;
    font-family: 'Menlo', sans-serif;
    background-color: #FFFFFF;
    border: 1px #242424 solid;
    padding: .4rem;
    border-radius: .6rem;
}

.contactForm button:hover {
    background-color: #242424;
    color: #ffffff;
    transition: ease .3s;
}