.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.contactContent {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contactWindow {
    max-width: 60rem;
    width: 100%;
}

.contactWindowContent {
    padding: 3rem 1rem;
}

.contactWindowContent h1 {
    font-size: 2rem;
}

.contactWindowContent p, .contactForm {
    font-size: 1.2rem;
}

.contactForm {
    margin: 1rem 0rem;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
}

