.myWork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background-image: url('../public/background_imgs/blob-scene-haikei.svg');
    background-size: cover;
}

.myWorkContent {
    display: flex;
    flex: 1;
    max-width: 120rem;
    justify-content: space-around;
    align-items: center;
    padding: .8rem;
}


@media screen and (max-width: 1200px) {
    .myWorkContent {
        flex-direction: column;
    }
}