.myWork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background-color: #ffffff;
}

.myWorkContent {
    display: flex;
    flex: 1;
    max-width: 120rem;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}