.myWork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background-image: url("../public/background_imgs/MyWorkBackground.svg");
    background-size: cover;
}

.myWorkContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.projectsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 120rem;
    min-height: 40%;
    width: 100%;
    padding: .8rem;
}

@media screen and (max-width: 1200px) {
    .projectsContainer {
        flex-direction: column;
        justify-content: center;
    }
}