.projectContainer {
    max-width: 31%;
    background-color: #2E2E2E;
    color: #FFFFFF;
    border-radius: .6rem;
    margin: .5rem 0rem;
}

.projectContent {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    font-family: 'Menlo', sans-serif;
    font-size: 1.3rem;
}

.projectImg {
    max-width: 100%;
    height: auto;
}

.projectInfo {
    padding: .5rem;
}

.projectInfo li {
    padding: .1rem 0rem;
    list-style-type: disc;
    list-style-position: inside
}

.desc {
    text-indent: -20px;
    margin-left: 20px;
}

.projectStack {
    margin-left: 2rem;
}

.projectLink {
    color: #FFFFFF
}

@media screen and (max-width: 1200px) {
    .projectContainer {
        max-width: 75%;
    }
}

@media screen and (max-width: 650px) {
    .projectContent {
        font-size: .9rem;
    }
}