.projectContainer {
    max-width: 30%;
    background-color: #2E2E2E;
    color: #FFFFFF;
    border-radius: .6rem;
}

.projectContent {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}