.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skillImg {
    max-width: 7rem;
    width: 100%;
    height: auto;
    margin-bottom: .3rem;
}