.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .5rem 0rem;
}

.skillImg {
    max-width: 10rem;
    max-height: 10rem;
    width: 100%;
    height: auto;
    margin-bottom: .3rem;
}