.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skillImg {
    max-width: 10rem;
    width: 100%;
    height: auto;
}